<!--
Web Serial API: https://web.dev/serial/
Events in Javascript: https://developer.mozilla.org/en-US/docs/Web/Events/Creating_and_triggering_events

 -->
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
  <meta charset="latin1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="melexis, mlx, i2c, sensors, i2c master, interface, demo, kit, evaluation"/>
  <meta name="description" content="Demo USB stick for Melexis I2C products at 3.3V supply voltage."/>
  <title>Melexis I2C Stick</title>
  <link rel="stylesheet" href="melexis-bulma.min.css">
  <link rel="icon" type="image/x-icon" href="assets/site/favicon.ico">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R0RKBB4XRX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R0RKBB4XRX');
</script>

<body>
<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://melexis.com" target="_blank">
      <img src="assets/site/logo_white.png" height="28" alt="">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a id="tab_i2c_stick" class="navbar-item is-active">I2C Stick</a>
      <a id="tab_interface" class="navbar-item">Interface</a>
      <a id="tab_products" class="navbar-item">Products</a>
      <a id="tab_firmware" class="navbar-item">Firmware</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="site_version" title="Release" class="button is-info is-outlined is-small">V1.4.0</a>
          <a id="lbl_selected_port" title="VID/PID of selected serial port" class="button is-info is-outlined is-small">USB</a>
          <a id="btn_open_port" class="button is-primary is-outlined">Open</a>
          <a id="btn_close_port" class="button is-primary is-outlined">Close</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div id="serial_port">
  <div id="receive_data"></div>
  <div id="sent_data"></div>  
</div>

<div class="template slave_transient_chart">
  <div data-sa="sa" class="row slaves">
    <input type="checkbox" name="chk_slave_enable" value="chk_slave_enable" checked="checked" class="slave_enable checkmark default_off">
    <button data-cmd="cs" title="Configure Slave" class="button cmd is-small is-info btn_config">@[sa]:[device]</button>
    <button data-cmd="mv" title="interactive Measure sensor Values" class="button cmd is-small is-info btn_mv">MV</button>
  </div>
</div>

<div class="template slave_spatial_chart">
  <div data-sa="sa" class="row slaves">
    <input type="checkbox" name="chk_slave_enable" value="chk_slave_enable" checked="checked" class="slave_enable checkmark default_off">
    <button data-cmd="cs" title="Configure Slave" class="button cmd is-small is-info btn_config">@[sa]:[device]</button>
    <button data-cmd="mv" title="interactive Measure sensor Values" class="button cmd is-small is-info btn_mv">MV</button>
  </div>
</div>

<div class="template slave_terminal">
  <div data-sa="sa" class="row slaves">
    <input type="checkbox" name="chk_slave_enable" value="chk_slave_enable" checked="checked" class="slave_enable checkmark default_off">
    <button data-cmd="cs" title="Configure Slave" class="button cmd is-small is-info btn_config">@[sa]:[device]</button>
    <button data-cmd="mv" title="interactive Measure sensor Values" class="button cmd is-small is-info btn_mv">MV</button>
    <button data-cmd="raw" title="get RAW sensor data" class="button cmd is-small is-info btn_raw">RAW</button>
    <button data-cmd="nd" title="is New Data available?" class="button cmd is-small is-info btn_nd">ND</button>
    <button data-cmd="sn" title="get Serial Number" class="button cmd is-small is-info btn_sn">SN</button>
    <button data-cmd="cs" title="get Configuration of Sensor" class="button cmd is-small is-info btn_cs">CS</button>
  </div>
</div>

<div id="main">
  <div id="tabs_main">
    <div id="div_i2c_stick" class="content is-active">
      {% include "i2c-stick.html" without context %}
    </div>

    <div id="div_products" class="content my_col col-12">
      {% include "products.html" without context %}
    </div>

    <div id="div_firmware" class="content my_col col-12">
      {% include "firmware.html" without context %}
      {% include "firmware_list.html" without context %}
    </div>

    <div id="div_interface" class="my_col col-12">
      <div id="interface_tabs" class="tabs is-fullwidth is-no-margin">
        <ul>
          <li id="tab_int_transient" class="is-active"><a>Transient chart</a></li>
          <li id="tab_int_spatial"><a>Spatial chart</a></li>
          <li id="tab_int_terminal"><a>Terminal</a></li>
        </ul>
      </div>

      <div id="div_int_terminal" class="tab_content content is-no-margin">
        <div class="columns">
          <div class="column is-8" style="padding-bottom: 0px;">
            <main id="log" style="left: 0px; width: 100%; height:100px;">
              <section id="serial_terminal" style="height: 100%; overflow: auto;">
              </section>        
            </main>        
            <div class="field has-addons" style="width:100%;margin-top: 5px;">
              <div class="control is-expanded">
                <input type="text" class="input is-primary is-11" id="serial_send" name="serial_send" placeholder="Enter here the command to sent and press <ENTER>" />
              </div>
              <p class="control">
                  <a title="Sent" class="button is-primary btn_sent">Sent</a>
              </p>
            </div>
          </div>
          <div class="column is-4">

            <div class="checkboxes">
              <input type="checkbox" id="chk_auto_scroll" name="chk_auto_scroll" value="auto_scroll" checked="checked" class="checkmark">
                <label for="chk_auto_scroll">Auto scroll</label>
              <br/>
              <input type="checkbox" id="chk_add_datetime" name="chk_add_datetime" value="add_datetime" checked="checked" class="checkmark">
                <label for="chk_add_datetime">Add date&time</label>
              <br/>
              <div class="select is-fullwidth is-small is-link">
                <select name="combo_i2c_freq" class="combo_i2c_freq">
                  <option value="F10k" >I2C - 10kHz</option>
                  <option value="F20k" >I2C - 20kHz</option>
                  <option value="F50k" >I2C - 50kHz</option>
                  <option value="F100k" selected>I2C - 100kHz(default)</option>
                  <option value="F400k">I2C - 400kHz</option>
                  <option value="F1M"  >I2C - 1MHz</option>
                </select>
              </div>
            </div>

            <fieldset class="sidebar">
              <legend>Control I2C bus</legend>
              <button data-cmd="scan" title="Scan the I2C bus for slave sensors" class="button cmd is-info btn_scan">Scan</button>
              <button data-cmd=";" title="Continuous acquisition" class="button cmd is-info btn_continuous">Start</button>
              <button data-cmd="!" title="Interactive acquisition" class="button cmd is-info btn_interactive">Stop</button>
              <button data-cmd="?" title="Help" class="button cmd is-info btn_help">Help</button>
            </fieldset>

            <fieldset class="sidebar">
              <legend>I2C Slaves</legend>
              <div id="terminal_slaves" class="slaves">
                No slaves found; connect slaves and click `scan` button
              </div>
            </fieldset>
          </div>        
        </div>
      </div>

      <div id="div_int_transient" class="tab_content content is-active is-no-margin">
        <div class="columns">      
          <div class="column is-9" style="padding-bottom: 0px;">
            <div id="div_transient_chart" style="display: inline-block; position: relative; width: 100%; height: 400px;">
              <canvas id="transient_chart">Your browser does not support the HTML5 canvas tag.</canvas>
            </div>        
          </div>

          <div class="column is-3">
            <div class="checkboxes">
              <div class="select is-fullwidth is-small is-link">
                <select name="combo_i2c_freq" class="combo_i2c_freq">
                  <option value="F10k" >I2C - 10kHz</option>
                  <option value="F20k" >I2C - 20kHz</option>
                  <option value="F50k" >I2C - 50kHz</option>
                  <option value="F100k" selected>I2C - 100kHz(default)</option>
                  <option value="F400k">I2C - 400kHz</option>
                  <option value="F1M"  >I2C - 1MHz</option>
                </select>
              </div>
            </div>

            <fieldset class="sidebar">
              <legend>Control I2C bus</legend>
              <button data-cmd="scan" title="Scan the I2C bus for slave sensors" class="button cmd is-info btn_scan">Scan</button>
              <button data-cmd=";" title="Continuous acquisition" class="button cmd is-info btn_continuous">Start</button>
              <button data-cmd="!" title="Interactive acquisition" class="button cmd is-info btn_interactive">Stop</button>
            </fieldset>

            <fieldset class="sidebar">
              <legend>I2C Slaves</legend>
              <div id="transient_chart_slaves" class="slaves">
                No slaves found; connect slaves and click `scan` button
              </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div id="div_int_spatial" class="tab_content content is-no-margin">
        <div class="columns">
          
          <div class="column is-9" style="padding-bottom: 0px;">
            <div id="div_spatial_chart" style="display: inline-block; position: relative; width: 100%; height: 400px;">
              <canvas id="spatial_chart" style="border:1px solid #d3d3d3; aspect-ratio: auto;">Your browser does not support the HTML5 canvas tag.</canvas>
            </div>        
          </div>

          <div class="column is-3">
            <div class="checkboxes">
              <div class="select is-fullwidth is-small is-link">
                <select name="combo_i2c_freq" class="combo_i2c_freq">
                  <option value="F10k" >I2C - 10kHz</option>
                  <option value="F20k" >I2C - 20kHz</option>
                  <option value="F50k" >I2C - 50kHz</option>
                  <option value="F100k" selected>I2C - 100kHz(default)</option>
                  <option value="F400k">I2C - 400kHz</option>
                  <option value="F1M"  >I2C - 1MHz</option>
                </select>
              </div>
              <div class="select is-fullwidth is-small is-link">
                <select name="combo_spatial_interpolation" id="combo_spatial_interpolation">
                  <option value="0">No interpolation</option>
                  <option value="2">2x interpolation</option>
                  <option value="4">4x interpolation</option>
                </select>
              </div>
              <div class="select is-fullwidth is-small is-link">
                <select name="combo_spatial_orientation" id="combo_spatial_orientation">
                  <option value="0">Landscape</option>
                  <option value="90">Portrait</option>
                  <option value="180">Landscape upsidedown</option>
                  <option value="270">Portrait upsidedown</option>
                </select>
              </div>
              <div class="select is-fullwidth is-small is-link">
                <select name="combo_spatial_mirror" id="combo_spatial_mirror">
                  <option value="0">No mirror</option>
                  <option value="x">Mirror X(horizontal)</option>
                  <option value="y">Mirror Y(vertical)</option>
                  <option value="xy">Mirror both X&Y</option>
                </select>
              </div>
            </div>

            <fieldset class="sidebar">
              <legend>Control I2C bus</legend>
              <button data-cmd="scan" title="Scan the I2C bus for slave sensors" class="button cmd is-info btn_scan">Scan</button>
              <button data-cmd=";" title="Continuous acquisition" class="button cmd is-info btn_continuous">Start</button>
              <button data-cmd="!" title="Interactive acquisition" class="button cmd is-info btn_interactive">Stop</button>
            </fieldset>

            <fieldset class="sidebar">
              <legend>I2C Slaves</legend>
              <div id="spatial_chart_slaves" class="slaves">
                No slaves found; connect slaves and click `scan` button
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="error-popup">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Error</p>
      <button class="delete keep" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <h1>MY CONTENT</h1>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success keep">OK</button>
    </footer>
  </div>
</div>

</body>
<script type="text/javascript" src="./assets/site/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="./assets/site/chart.min.js"></script>
<script type="text/javascript" src="./interface.min.js"></script>
</html>