dist
*/build
web-interface/*.html
!web-interface/index.jinja2.html
!web-interface/google*.html
/firmware_list.md
*.min.js
*.min.css
!web-interface/assets/**/*.min.js
!web-interface/assets/**/*.min.css
web-interface/melexis-bulma.css
.idea
venv
.doit.db*
__pycache__
*.bak
i2c-stick-arduino/build
i2c-stick-arduino/package
i2c-stick-arduino/driver_cmd.h
i2c-stick-arduino/driver_cmd.cpp
i2c-stick-arduino/firmware_list.md
i2c-stick-arduino/tools
plugins/**/i2c-stick/
plugins/**/.git/
*.pyc
.cache
*env
*~
*.egg-info
web-interface/index.html
web-interface/firmware.html
web-interface/tools
web-interface/firmware_list.md
web-interface/interface.js
